{% extends "generic.html" %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {% load widget_tweaks %}
    <div class="form-div" >{% render_field form.title class="name-input" autofocus=True placeholder="My List" %}</div>
    <div class="form-div">{% render_field form.description rows="5" class="notes-input" %}</div>
    
    

    <div class="form-div"> 
        <input type="submit" value="Save" class="btn-save" style="float:right">   
    </div>   
</form>

<div class="form-div">
    <a href="./"><button class="btn-save" style="float: left;">Back</button></a>
</div>

{% endblock %}